:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container-news-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.news-card-container {
  border: 1px solid gray;
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.news-card-container img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.news-card-container h3 {
  font-size: 1.5rem;
}

.news-card-container p {
  font-size: 0.875rem;
}

.news-card-container a {
  padding: 8px;
  text-align: center;
  background-color: #14b359;
  display: block;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .container-news-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
